{{>header}}
<link rel="stylesheet" href="../../css/style.css" />


<div class="post">
  <h1>
{{post.title}}

  </h1>
  <div class="post-author">
Written by {{post.user.name}}.

  </div>
  <div class="post-content">
{{post.content}}

  </div>
  <div class="date">
{{post.created_on}}

  </div>

</div>

<h2 class="spaceAbove">Comments</h2>
<div class="comments">
  <ul class="list-none">
    <!-- Loop through each post in the 'post' array provided to the template -->
    {{#each comments as |comment|}}
      <!-- List item for each post using a 'post' partial that formats the post data -->
      <li>
        <div class="comment">
          <div>
        {{comment.text}}

        </div>
        <div>
        Written by {{comment.user.name}}

        </div>
        <div>
        {{comment.created_on}}

        </div>
        </div>
        

      </li>
    {{/each}}
  </ul>

</div>


<h2>Leave a Comment</h2>

<form class="myFormStyle" action="/api/comment/submit/{{post.id}}" method="post">
<input type="hidden" id="postID" name="postId" value="{{post.id}}" />
  <label for="comment">Comment:</label><br />
  <textarea id="comment" name="comment" rows="4" required></textarea><br />
  <input type="submit" value="Submit" />
</form>

{{#if isUserPost}}

  <a href="" id="deleteButton" class="button-style">Delete Post</a>
  <a href="/updatePost/{{post.id}}" class="button-style">Update Post</a>


  {{/if}}
<script src="../../js/deletePost.js"></script>